geopandas~=1.0.0
numpy~=1.26.4
matplotlib~=3.9.0
pandas~=2.2.2
rasterio~=1.4.3
shapely~=2.0.3
boto3~=1.34
botocore  # Version defined by boto3, but explicitly imported
tqdm~=4.66
ipykernel
jupyter
scikit-learn~=1.5
scipy~=1.13
lightgbm~=4.5
torch~=2.11
torchvision~=0.26
segmentation-models-pytorch~=0.5
PyYAML~=6.0
